.login-container {
  width: 390px;
  width: 300px;
  height: 350px;
  margin: 100px auto;
  position: relative;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  text-align: center; /*让div内部文字居中*/
}

.login-form-title {
  font-family: Ubuntu-Bold;
  font-size: 30px;
  color: #403866;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  display: block;
  padding-bottom: 51px;
  font-weight: bolder;
}

.login-form-container {
  color: #403866;
  line-height: 1.2;
  display: block;
  width: 100%;
  height: 62px;
  margin-bottom: 16px;
  background-color: #e6e6e6;
  border: 1px solid transparent;
  border-radius: 3px;
}

.login-form-input {
  font-family: Ubuntu-Bold;
  font-size: 18px;
  display: block;
  background-color: transparent;
  outline: none;
  border: none;
  outline: medium;
  height: 100%;
  margin: auto;
}

.login-form-btn {
  font-family: Ubuntu-Bold;
  font-size: 18px;
  color: azure;
  display: block;
  border: none;
  outline: medium;
  height: 100%;
  width: 100%;
  margin: auto;
  background-color: #827ffe;
}
