.footer {
    bottom: 0;
    position: relative;
    vertical-align: bottom;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    font-size: 16px;
    padding-bottom: 20px;

    a {
        color: grey;
    }
}
