# ===========================
#          Project
# ===========================

.vscode/*
*.log

# ===========================
#          Python
# ===========================
venv/
__pycache__/

archive/

*.env
*.env.*