.archive {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.3em;
  text-align: center;
  color: #111;
}

.archive-title {
  font-size: 38px;
  margin-top: 60px;
}

.archive-item-link {
  display: inline-block;
  text-decoration: none;
  font-size: 21px;
  font-weight: bold;
  color: #222;
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}

.content {
  max-width: 700px;
  margin: 40px auto 10px;
  padding: 0 15px;
  font-size: 16px;
  line-height: 1.7;
  color: #333;
}

@media (min-width: 1200px) {
  .container {
    max-width: 970px;
  }
}



@import "~bootstrap/scss/bootstrap.scss";
