.article-tag {
  margin-left: 10px;
  padding: 3px 5px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
  color: #9eabb3;
  border: #e3e9ed 1px solid;
  transition: color 0.3s ease;
}

.article-title {
  font-size: 34px;
  color: #222;
  line-height: 1.3;
}

.article-date {
  color: #ccc;
}

.article-content {
  margin-top: 10px;
  li {
    display: list-item;
    text-align: -webkit-match-parent;
  }
}

@import "~github-markdown-css/github-markdown.css";
@import "~highlight.js/styles/github.css";
