.year-block {
    padding: 10px;
    font-size: large;
    h1 {
        padding: 5px 0px;
        font-size: 50px;
        color: #023047;
    }
}

.title-line {
    padding: 8px 0px 10px 0px;
    span {
        float: right;
        color: grey;
        font-size: 16px;
        font-family: Centaur;
    }

    a {
        color: black;
        font-size: 22px;
        border-bottom: 3px solid #8ECAE6;
    }
}
